.container-fluid {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.row {
    margin: 0;
}

.box,
h3 {
    padding: 10px !important;
}

.container-fluid > .row:first-child,
.form-control,
.form-control:focus,
.btn {
    background-color: #24292E;
}

.container-fluid > .row:first-child div {
    align-items: center;
    display: flex;
}

.row div img {
    float: left;
}

h2 {
    font-size: 28px;
    margin-left: 10px;
}

h2,
h3,
div p:nth-child(3) {
    margin-bottom: 0;
}

h2,
.form-control,
.form-control:focus,
svg {
    color: #FFF;
}

.form-control::placeholder {
    color: #999;
}

.form-control,
.form-control:focus,
.btn {
    border: solid 1px #999;
}

.form-control:focus,
.btn:focus {
    box-shadow: none;
}

.btn {
    border-radius: 0 4px 4px 0;
}

h3,
p {
    color: #24292E;
}

h3 {
    font-size: 25px;
}

div p:first-child {
    font-size: 18px;
    font-weight: bold;
}

div p:first-child,
div p:nth-child(2) {
    margin-bottom: 10px;
}

div p:nth-child(2) {
    font-size: 16px;
}

div p:nth-child(2)::first-letter {
    text-transform: capitalize;
}

div p:nth-child(3) {
    font-size: 14px;
}